html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Fondo blanco */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-screen img {
  max-width: 100%; /* Asegura que la imagen se adapte a dispositivos móviles */
  max-height: 100%; /* Asegura que la imagen no desborde el alto de la pantalla */
}
